.container {
  width: 800px;
  height: 200px;
  position: relative;
  margin: 0 auto 200px;
  border: 1px solid #CCC;
  -webkit-perspective: 1000px;
  -webkit-transform-origin: 50% 50% 0px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translateZ(-100px);
    -webkit-transform-origin: 50% 50% 0px;
}

#cube figure {
  width: 800px;
  height: 200px;
  display: block;
  position: absolute;
  font-size: 120px;
  line-height: 196px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  -webkit-transform-origin: 50% 50% 0px;
}

#cube .front  { background: red; }
#cube .back   { background: green; }
#cube .top    { background: blue; }
#cube .bottom { background: yellow; }

#cube .front  { -webkit-transform: translateZ( 100px );-webkit-transform-origin: 50% 50% 0px; }
#cube .back   { -webkit-transform: rotateX( -180deg ) translateZ( 100px );-webkit-transform-origin: 50% 50% 0px; }
#cube .top    { -webkit-transform: rotateX(  90deg ) translateZ( 100px );-webkit-transform-origin: 50% 50% 0px; }
#cube .bottom { -webkit-transform: rotateX( -90deg ) translateZ( 100px );-webkit-transform-origin: 50% 50% 0px; }

#cube.show-front  { -webkit-transform: translateZ( -100px );-webkit-transform-origin: 50% 50% 0px; }
#cube.show-back   { -webkit-transform: translateZ( -100px ) rotateX( 180deg );-webkit-transform-origin: 50% 50% 0px; }
#cube.show-top    { -webkit-transform: translateZ( -100px ) rotateX(  -90deg );-webkit-transform-origin: 50% 50% 0px; }
#cube.show-bottom { -webkit-transform: translateZ( -100px ) rotateX(   90deg );-webkit-transform-origin: 50% 50% 0px; }